[Unit]
Description=Ente VersityGW
Requires=ente-pod.service
After=ente-pod.service

[Container]
ContainerName=ente-versitygw
Image=docker.io/versity/versitygw:latest
Pod=ente.pod
Secret=ente-s3-user,type=env,target=ROOT_ACCESS_KEY
Secret=ente-s3-pass,type=env,target=ROOT_SECRET_KEY
Volume=ente-versity-data.volume:/data
Exec=posix /data

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
