[Unit]
Description=Ente Web
Requires=ente-pod.service
After=ente-pod.service

[Container]
ContainerName=ente-web
Image=ghcr.io/ente-io/web:latest
Pod=ente.pod
Environment=ENTE_API_ORIGIN=http://localhost:8080
Environment=ENTE_ALBUMS_ORIGIN=http://localhost:3002
Environment=ENTE_PHOTOS_ORIGIN=http://localhost:3000

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
