[Unit]
Description=MooseFS FUSE mount
ConditionPathExists=/mnt/moosefs

[Mount]
What=mfsmaster:/
Where=/mnt/moosefs
Type=moosefs
Options=nonempty,mfsdelayedinit,mfsattrcacheto=60,mfsentrycacheto=60,mfsdirentrycacheto=60,mfscachemode=YES

[Install]
WantedBy=multi-user.target
