[Unit]
Description=Ente Postgres
Wants=ente-network.service
After=ente-network.service

[Container]
ContainerName=ente-postgres
Image=docker.io/library/postgres:15
Network=ente.network
Environment=POSTGRES_USER=pguser
Environment=POSTGRES_DB=ente_db
Secret=ente-pg-pass,type=env,target=POSTGRES_PASSWORD
Volume=ente-postgres-data.volume:/var/lib/postgresql/data
HealthCmd=pg_isready -q -d ente_db -U pguser
HealthStartPeriod=40s
HealthInterval=10s
HealthRetries=10
Notify=healthy

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
